.m-index {
  //background：#efeef3
  width:100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  & > *{
      width:100%;
  }
  
 header{
      width:100%;
      height:1.5rem;
      position: relative;
      background: yellow;
      ul{
          width:100%;
          height: 100%;
      }
      .headernav{
          width:100%;
          height:.44rem; 
          position: absolute;
              bottom: 0;
              left: 0;
              background: black;
              opacity: .6;
              @include flexbox();
          .headernavleft{
              width:.50rem;
              height: .44rem;
                text-align: center;
             line-height: .44rem;
             i{
                 width:.44rem;
                 height:.44rem;
              font-weight: bold;
             color: white;
             font-size: .24rem;
             }
          }
          .headernavcenter{
              @include flex();
              @include flexbox();
              
               height: .40rem;
               margin-top: .02rem;
               border-radius: .05rem;
               background: rgba(255,255,255,.6);
              input{
                  @include flex();
                  height: .4rem;
                  //margin-top: .02rem;
                  border:none;
                  border-top-left-radius: .05rem;
               border-bottom-left-radius: .05rem;
               margin:0;
                background: rgba(255,255,255,.6);
              }
              i{
                  display: block;
                  width:.40rem;
                  border:none;
                  height: .40rem;
                  margin:0;
                  text-align: center;
                  line-height: .44rem;
                  font-size: .3rem;
                  border-top-right-radius: .05rem;
                  border-bottom-right-radius: .05rem;
//                   background: white;
                    background: rgba(255,255,255,.6);
               
              }
          }
          .headernavright{
               width:.5rem;
              height: .44rem;
           text-align: center;
             line-height:.44rem;
              
             i{
                 width:.44rem;
                 height:.44rem;
              color:white;
//           color: black;
font-weight: bold;
             font-size:.24rem;
             }
          }
          
      }
      
  }
  section{
      @include flex();
//    height:100%;
width:100%;
      background:#efeef3;
      .linkList{
          background: white;
          width:100%;
          height:1.4rem;
          @include flexbox();
          li{
//            &:nth-child(1){
//                
//                
//            }
              height: 1.4rem;
              @include flex();
              
              a{
                  display: block;
              }
              i{
                  display: block;
                  width:100%;
                  height:1.1rem;
                  position: relative;
                  img{
                      width:70%;
//                    height:1.2rem;
                      position: absolute;
                      left:50%;
                      top:50%;
                      transform:translate(-50%,-40%);
                  }
              }
              b{
                  display: block;
                  width:100%;
                  height: .3rem;
                  line-height: .3rem;
                  text-align: center;
                  font-size: .16rem;
                  color: #212121;
              }
          }
      }
      .linkList1{
          background: white;
          width:100%;
          height:1.4rem;
          @include flexbox();
          margin-bottom: .2rem;
          li{
              height: 1.4rem;
              @include flex();
              
              a{
                  display: block;
              }
              i{
                  display: block;
                  width:100%;
                  height:1.1rem;
                  position: relative;
                  img{
                      width:70%;
//                    height:1.2rem;
                      position: absolute;
                      left:50%;
                      top:50%;
                      transform:translate(-50%,-40%);
                  }
              }
              b{
                  display: block;
                  width:100%;
                  height: .3rem;
                  line-height: .3rem;
                  text-align: center;
                  font-size: .16rem;
                  color: #212121;
              }
          }
      }
      .row_lunbo{
          width: 100%;
          height: 2rem;
          background: white;
          margin-bottom: .2rem;
          ul{
             width: 100%;
          height: 2rem;  
          }
          li{
              width:100%;
              height: 100%;
              .rowLiTop{
                  width:100%;
                  height:.6rem;
                  @include flexbox();
                  h1{
                      @include flex(4);
                      height: .6rem;
                      line-height: .6rem;
                      text-align: center;
                      font-size: .18rem;
                  };
                  div{
                      @include flex(6);
                      height: .6rem;
                      @include flexbox();
                      span{
                          @include flex(5);
                          display: block;
                          height: .6rem;
                          line-height: .6rem;
                          font-size: .18rem;
                      }
                      p{
                          @include flex(5);
                          height: .6rem;
                          @include flexbox();
                          i{
                              height: .6rem;
                          line-height: .6rem;
                          font-size: .18rem;
                              @include flex(2);
//                            span{
//                                display: block;
//                                width:60%;
//                                height: 60%;
//                                position: absolute;
//                                left: 50%;
//                                top:50%;
//                                transform: translate(-50%,-50%);
//                                background:blue;
//                                text-align: center;
//                                line-height:100%;
//                            }
                          }
                          b{
                              @include flex(1);
                              height: .6rem;
                              font-size: .18rem;
                          line-height: .6rem;
                          }
                      }
                  }
              }
              .rowLiBottom{
                  width:100%;
                  height: 1.4rem;
                  @include flexbox();
                  .rowBottomLeft{
                      @include flex(4);
                      position: relative; 
                      img{
                          width:.6rem;
                          position: absolute;
                          left: 50%;
                          top:50%;
                          transform: translate(-50%,-50%);
                      }
                  }
                  .rowBottomRight{
                      @include flex(6);
                      p{   
                          margin-top:.2rem;
                          width:100%;
                          height:.6rem ;
                          line-height: .22rem;
                          padding-right: .3rem;
                          font-size: .24rem;
                      }
                      i{
                          display: block;
                          width:100%;
                          height:.3rem;
                          padding-top:.06rem;
                          font-size:.24rem;
                          span{
                              font-size:.24rem;
                              color:#b84f56;
                          }
                          b{
                              font-size:.24rem;
                              color:#b84f56;
                          }
                      }
                  }
              }
          }
      }
      .small_list{
          width:100%;
          height: 2rem;
          
          ul{
              width:100%;
              height: 100%;
              @include flexbox;
              li{
                  background: white;
                  height:100%;
                  position:relative; 
                  img{
                        width:80%;
                        height: 80%;
                        position: absolute;
                        left: 50%;
                        top:50%;
                        transform: translate(-50%,-50%);
                    } 
                 &:nth-child(1){
                    @include flex(3);
                   
                 } 
                 &:nth-child(2){
                     width:.02rem;
                     
                 }
                 &:nth-child(3){
                    @include flex(3); 
                 } 
                 &:nth-child(4){
                     width:.02rem;
                     
                 }
                 &:nth-child(5){
                    @include flex(3); 
                 } 
                 &:nth-child(6){
                     width:.02rem;
                     
                 }
                 &:nth-child(7){
                    @include flex(5); 
                 } 
                 
              }
          }
      }
  }
  footer{
      height: .52rem;
      background:#f8f8f8;
      border-top:2px solid #eaeaea;
      z-index: 9999;
      ul{
          width:100%;
          height: 100%;
          @include flexbox();
          li{
              @include flex();
              height:.52rem;
              i{
                  width:100%;
                  height: .36rem;
                  display: block;
                //  position: relative;
//                img{
//                    margin-top: .06rem;
//                    width:.28rem;
//                    height: .28rem;
//                    position: absolute;
//                    left: 50%;
//                    transform:translateX(-50%);
//                }
//                font-size:.2rem；
                  line-height:.36rem;
                  text-align:center;
                  font-size:.24rem;
                  color: #5f656a;
              }
              b{
                  display: block;
                  width:100%;
                  height: .14rem;
                  text-align: center;
                  font-size: .1rem;
                  color: #5f656a;
              }
              &.active{
                 i{
                     color:#cd3f4d;
                     
                 }
                 b{
                     color:#cd3f4d;
                 }
              }
          }
      }
  }
}